$cardBackGroundColor: #fff;
$cardFontColor: #555;


.container{
    height: 100vh;
    margin-top: 5%;
}

.loading-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.loading-area span{
    margin-top: 20px;
}

.custom-card {
    background-color: $cardBackGroundColor;
    color: $cardFontColor;
}

.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info{
    margin-top: 15px;
}

.card-title{
    text-align: center;
}

.card-subtitle{
    color: $cardFontColor;
    text-align: center;
}

.example-header-image {
    background-size: cover;
    height: 150px;
    width: 150px;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 30px;
    margin: 15px;
}

.card-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media(max-width: 1000px){
    .content{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px 30px;
        margin: 15px;
    }
}

@media(max-width: 720px){
    .content{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px 30px;
        margin: 15px;
    }

    .loading-area{
        margin-top: 20%;
    }
}

@media(max-width: 565px){
    .loading-area{
        margin-top: 30%;
    }
}



