<div class="container">
    <div *ngIf="isLoading" class="loading-area">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        <span>Carregando, por favor aguarde...</span>
    </div>
    <div *ngIf="!isLoading && users.length > 0" class="content">
        <mat-card class="custom-card" *ngFor="let user of users">
            <mat-card-header class="card-header">
                <img mat-card-avatar class="example-header-image" src="{{imgPath}}{{user.photo}}" alt="Photo of a Shiba Inu">
                <div class="card-info">
                    <mat-card-title class="card-title">{{user.name}}</mat-card-title>
                    <mat-card-subtitle class="card-subtitle">{{user.role}}</mat-card-subtitle>
                </div>
            </mat-card-header>
            <hr>
            <mat-card-actions class="card-actions">
                <button mat-button color="primary">VISUALIZAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
