<mat-toolbar color="primary">
    <div class="navbar-content">
        <div class="navbar-item">
            <mat-icon class="icon">code</mat-icon>
            <span>Angular APP</span>
        </div>
        <div class="navbar-item">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Alterar método de busca">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Pesquisar com fetch API</button>
                <button mat-menu-item>Pesquisar com httpClient</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
