<mat-toolbar color="primary">
    <div class="navbar-content">
        <div class="navbar-item">
            <fa-icon [icon]="faAngular" class="navbar-icon"></fa-icon>
            <span class="angular-app-label">Angular APP</span>
        </div>
        <div class="navbar-item">
            <button 
                mat-icon-button
                class="navbar-icon"
                matTooltip="Ir para o React APP"
                matTooltipClass="custom-tooltip"
                (click)="goToReactApp()"
            >
                <fa-icon [icon]="faReact"></fa-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
