/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$white: #fff;
$appColor: #c2185b;
$darkGray: #444;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-menu-panel{
    background-color: $white;
}

.mat-menu-item{
    color: $darkGray;
}